<tr>
  <td><%= song.title %></td>
  <td><%= link_to 'Show', song %></td>
  <td><%= link_to 'Edit', edit_song_path(song) %></td>
  <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>