<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |s| %>
      <%= render partial: 'song', locals: {song: s} %>
    <% end %>
    <%#= render @songs %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
