<!DOCTYPE html>
<html lang="en" ng-app='crimsApp'>
<head>
  <meta charset="UTF-8">
  <title>Famous Crims</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/crimsController.js" charset="utf-8"></script>
</head>
<body ng-controller="CrimsController as crims">

  <h1>Famous Crims</h1>

  <ul>
    <li ng-repeat="crim in crims.all">
       <strong>{{crim.name}}</strong> <em>({{crim.location}} - {{crim.status}})</em>
    </li>
  </ul>

  <form ng-submit="crims.addCrim()">
    <input type="text" ng-model="crims.newCrim.name">
    <input type="text" ng-model="crims.newCrim.location">
    <input type="text" ng-model="crims.newCrim.status">
    <input type="submit" value="Add criminal">
  </form>

</body>
</html>