<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to my videos page</title>
</head>
<body>
  <h1><%= header %></h1>
  <h2>This is a video page</h2>
  <form action ='/videos' method='post'>
  <input type='text' name='title' placeholder='title'>
  <input type='submit'>
  </form>

  
</body>
</html>