<!DOCTYPE html>
<html>
<head>
  <title>My website</title>
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/sports">Sports</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/gossip">Gossip</a></li>
      <li><a href="/celebrity">Celebrity</a></li>
    </ul>   
  </nav>

  <%= yield %>
</body>
</html>