<header>
  <nav>
    <li> <%= link_to('locations', locations_path )%></li>
    <li><%= link_to('Create location', new_location_path) %></li>
    <!-- NB look in rake routes to get paths -->
  </nav>
</header>