<div class="row">
  <div class="col s6 offset-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @todo['task'] %></span>
        <p><%= @todo['description'] %></p>
      </div>
      <div class="card-action">
        <a href="/todos/<%= @todo['id'] %>/edit">edit</a>
        <form action="/todos/<%= @todo['id'] %>/delete" method="post">
          <button class="fake-link">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>